In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
plt.style.use('fivethirtyeight')
plt.style.use('seaborn-poster')

In [3]:
df_states = pd.read_csv('covid-19-data/us-states.csv')
df_counties = pd.read_csv('covid-19-data/us-counties.csv')

In [8]:
df_states.tail()

           date          state  fips  cases  deaths
1432 2020-03-28       Virginia    51    740      17
1433 2020-03-28     Washington    53   4311     191
1434 2020-03-28  West Virginia    54    113       0
1435 2020-03-28      Wisconsin    55   1042      17
1436 2020-03-28        Wyoming    56     84       0

In [9]:
df_counties.tail()

            date      county    state     fips  cases  deaths
17726 2020-03-28    Sheridan  Wyoming  56033.0      6       0
17727 2020-03-28    Sublette  Wyoming  56035.0      1       0
17728 2020-03-28  Sweetwater  Wyoming  56037.0      1       0
17729 2020-03-28       Teton  Wyoming  56039.0     14       0
17730 2020-03-28    Washakie  Wyoming  56043.0      1       0

In [6]:
df_states['date'] = df_states['date'].apply(
    lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))
df_counties['date'] = df_counties['date'].apply(
    lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))

In [7]:
df_states['date'].max()

Timestamp('2020-03-28 00:00:00')

In [8]:
df_counties['date'].max()

Timestamp('2020-03-27 00:00:00')