In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [5]:
plt.style.use('fivethirtyeight')
plt.style.use('seaborn-poster')

In [9]:
df_states = pd.read_csv('covid-19-data/us-states.csv')
df_counties = pd.read_csv('covid-19-data/us-counties.csv')

In [10]:
df_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [11]:
df_counties.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [12]:
df_states['date'] = df_states['date'].apply(
    lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))
df_counties['date'] = df_counties['date'].apply(
    lambda x: pd.to_datetime(str(x), format='%Y-%m-%d'))

In [17]:
df_states['date'].max()

Timestamp('2020-03-25 00:00:00')

In [18]:
df_counties['date'].max()

Timestamp('2020-03-25 00:00:00')